<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombres:</strong>
    <%= usuario.first_name %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= usuario.last_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= usuario.email_address %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= usuario.age %>
  </p>

</div>
